h1 {
    color: blue;
}

#navbarNavAltMarkup {
    justify-content: center;
}

#hero {
    background-image: url("http://localhost/FoodPairing/public/images/oeufs.jpg");
    width: 100%;
    height: 100vh;
}

.hero img {
    width: 50%;
    height: 10%;
}

