h1 {
    font-size: 100px;
}

#navbarNavAltMarkup {
    justify-content: end;
}

.btn1 {
    display: none;
}

@media (max-width: 576px) {
    .btn1 {
        display: block;
    }
}

/* Page */

/* Banner */

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titre {
    opacity: 0.9;
}

.banner h1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: #0bb92ee8;
    font-size: 10vw;
    font-family: "Audiowide", fantasy;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    color: #f7ff00;
    line-height: 80vh;
    mix-blend-mode: screen;
    z-index: 1;
}

.banner h1:hover {
    height: 100%;
    transition: 1000ms ease-in-out;
}

.hero {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

/* Parallax */

.cache {
    position: absolute;
    z-index: 0;
    text-align: center;
}

.test {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    background-size: cover;
}

.about {
    height: 300vh;
    display: flex;
}

.about-title {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 0 !important;
}

.about-pages {
    width: 50%;
}

.about-pages div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.about-pages div p {
    width: 80%;
    font-size: 18px;
    line-height: 30px;
}

.about-pages div:nth-child(1) {
    background-color: rgb(56, 134, 89);
}
.about-pages div:nth-child(2) {
    background-color: rgb(129, 42, 110);
}
.about-pages div:nth-child(3) {
    background-color: rgb(31, 88, 107);
}

footer {
    width: 100%;
    height: 100%;
    background-color: bisque;
}

/* animation */

.intro {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.intro-text {
    font-size: 3rem;
}

.slider {
    /* background: #d13248; */
    background: linear-gradient(#f7ff00, /*#00fd33e8,*/ #fb5068);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    z-index: 1;
}

.hide {
    background: black;
    overflow: hidden;
}

.hide span {
    transform: translateY(100%);
    display: inline-block;
}
